{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">Dashboard</h2>

<div class="row">

<div class="col-md-4">

<div class="card text-white bg-primary">

<div class="card-body">

<h5>Total Students</h5>

<h2>{{ total_students }}</h2>

</div>

</div>

</div>

<div class="col-md-4">

<div class="card text-white bg-success">

<div class="card-body">

<h5>Admin</h5>

<h2>{{ session['admin'] }}</h2>

</div>

</div>

</div>

</div>

<hr>

<h3>Student List</h3>

<table class="table table-striped table-bordered">

<tr>
<th>ID</th>
<th>Name</th>
<th>Email</th>
<th>Course</th>
</tr>

{% for student in students.items %}

<tr>

<td>{{ student.id }}</td>
<td>{{ student.name }}</td>
<td>{{ student.email }}</td>
<td>{{ student.course }}</td>

</tr>

{% endfor %}

</table>
{% endblock %}