<!DOCTYPE html>
<html>
<head>
    <title>Student Management System</title>

    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Student Management System</span>
  </div>
</nav>

<div class="container mt-5">
    <div class="card shadow p-4">
        <h3 class="text-center text-primary">Welcome Pallavi 👩‍💻</h3>
        <p class="text-center">Your Flask project is running successfully 🚀</p>
    </div>
</div>

</body>
</html>